%html{html_attrs}
 %head
  %meta{:'http-equiv' => "Content-Type", content: "text/html; charset=utf-8"}
  %meta{name: "lang", content: "en"}
  %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
  %link{href: "/stylesheets/about.css", media: "screen", rel: "stylesheet", type: "text/css"}
  %title conCensus
 %body
  %h3 About
  %p ConCensus is an online space for communities to access, visualize, and engage with data that supports local advocacy issues and decision-making in Detroit.  ConCensus aims to meet users in the middle by placing equal value on residents’ bottom-up expertise as on traditional top-down data sets.
  %p ConCensus is a project by Data Driven Detroit (D3), a Michigan Nonprofit Association affiliate, made possible through the Knight Foundation Prototype Fund between January and June 2014.
  %h3 Assumptions Tested
  %p Throughout our six month prototype phase, we tested our assumptions by engaging with our user base of community organizers as well as outreaching to technologists to help us better articulate our idea of a “community-driven data portal.”  Through interviews, we asked:
  %ul
   %li What data do communities need to better support local advocacy?
   %li Is this data available through administrative sources?
   %li If this data isn’t otherwise available, how can communities participate in and define their own data collection process?
   %li How can we build a lightweight mapping platform that allows users to visualize different types of data and easily share maps to inform local advocacy?

  %h3 What we did
  %p In six months, we outreached to many organizations to understand how communities currently access data and ask which types of data they wish they had to better support their work.

  %p From that outreach, we identified two local community development organizations to partner with in our prototype phase, Focus: HOPE and Warren Conner Development Coalition.   We worked together in a process to design surveys and collect neighborhood-level data, using the LocalData app

  %p Parallel to this community engagement, the project team was incorporating feedback into the design and development process of the ConCensus mapping platform.  We aimed to design a lightweight tool that makes accessing, visualizing, and sharing data, as well as guides for community surveying, usable to a range of skill sets.

  %h3 Lessons Learned
  %p While we learned many lessons throughout our prototype project, two key findings stick out:</p>
  %ol
   %li There is a need for community driven data to capture the unique issues that are meaningful to local advocacy.  The whole story of a neighborhood can not be told using only information available through administrative sources.</li>
   %li We thought that we were going to work with community groups to collect data through “crowdsourcing” methods.  But, we’ve actually participated in a much more traditional and personal style of engagement through door-to-door surveying, led by the local knowledge of our community partners.

  %h3 Transparency
  %p Beyond presenting what we’ve accomplished through our prototype project, we also want to openly share the road blocks we’ve encountered and the mistakes we’ve made along the way:
  %ul
   %li Digital divide.  We underestimated the challenge of using internet-reliant technology to do neighborhood surveying.  At times, our community partners resorted to paper surveys and abandoned the data collection app except to enter responses later. 
   %li User-testing.  We were much more thorough at testing and refining our project idea with many audiences, rather than testing our actual technology solutions to that idea.
   %li Website timing.  This site is still under construction as we close out our final month.  We have not yet reached all of our initial development goals for site functionality.

  %h3 Partners
  %p 
   Knight Foundation Prototype Fund
   Focus: HOPE
   Warren Conner Development Coalition
   LocalData
   Data Driven Detroit, a Michigan Nonprofit Association Affiliate
