%html{html_attrs}
 %head
  %meta{:'http-equiv' => "Content-Type", content: "text/html; charset=utf-8"}
  %meta{name: "lang", content: "en"}
  %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
  %link{href: "/stylesheets/about.css", media: "screen", rel: "stylesheet", type: "text/css"}
  %title conCensus
 %body
  %h1 Under Construction
  %p This site is still under construction and we apologize for any bugs you may experience, we’re working to develop solutions.