%main#masthead
	.container
		 
		.row
			.col-md-10
				%h1 conCensus
				%a{:href => url('/underconstruction'),id:"construction"}>Under Construction
				%a{:href => url('/about'),id:"about_project"}>About Project
#portals
	.container
		.row
			.col-md-10
				#placeholder &nbsp;
				#portal-img
					%a#visualize{:href => url('/map')}
				#portal-img
					%a#search{:href => url('/search')}
				#portal-img
					%a#share{:href => url('/upload')}
				#portal-img
					%a#talk{:href => url('/community')}
				%div
					%p Data Driven Detroit's Community Driven Data Portal
#recent-activity
	.container
		.logo
			%img{src:"images/D3_Logo.png", alt: "d3 logo", width:"400px", height:"33px"}
		.row
			.col-md-8.col-md-offset-2