%main#masthead
	.container
		.row
			.col-md-10#banner
				%h1 conCensus
				#portals
					#placeholder &nbsp;
					#portal-img
						%img(src="/images/visualize.png")
					#portal-img
						%img(src="/images/visualize.png")
					#portal-img
						%img(src="/images/visualize.png")
					#portal-img
						%img(src="/images/visualize.png")
				%div
					%p Data Driven Detroit's Community Driven Data Portal
#recent-activity
	.container
		.row
			.col-md-8
				%h1 Recent Activity
				.recent-activity-panel.breadcrumb What ACS indicators are typically used for economic ...
				.recent-activity-panel.breadcrumb What dataset does your organization need most ?
				.recent-activity-panel.breadcrumb When will conCensus make the new ACS layers avail ...
				.recent-activity-panel.breadcrumb Does anyone track lead abatement in Detroit anym...