%main#masthead
	.container
		.row
			.col-md-12#banner
				%h1 ConCENSUS
				%span(class="glyphicon glyphicon-ok-circle")
%main#cool-stuff
	.container
		.row
			.col-md-6
				%h1 Big Questions
			.col-md-6
				%h1 Conversation
