%main#masthead
	.container
		.row
			.col-md-10#banner
				%h1 conCensus
				#portals
					#placeholder &nbsp;
					#portal-img
						%img(src="/images/visualize.png")
					#portal-img
						%img(src="/images/visualize.png")
					#portal-img
						%img(src="/images/visualize.png")
					#portal-img
						%img(src="/images/visualize.png")
				%div
					%p Data Driven Detroit's Community Driven Data Portal
#recent-activity
	.container
		.row
			.col-md-8
				%h1 Recent Activity
				.recent-activity-panel.breadcrumb Item 1
				.recent-activity-panel.breadcrumb Item 2
				.recent-activity-panel.breadcrumb Item 3
				.recent-activity-panel.breadcrumb Item 4