%main#masthead
	.container
		.row
			.col-md-10
				%h1 conCensus
#portals
	.container
		.row
			.col-md-10
				#placeholder &nbsp;
				#portal-img
					%a#visualize{:href => url('/map')}
				#portal-img
					%a#search{:href => url('/search')}
				#portal-img
					%a#share{:href => url('/upload')}
				#portal-img
					%a#talk{:href => url('/community')}
				%div
					%p Data Driven Detroit's Community Driven Data Portal
#recent-activity
	.container
		.row
			.col-md-8.col-md-offset-2
				%h1 Recent Activity
				.recent-activity-panel
					.recent-activity-header What ACS indicators are typically used for economic ...
					.recent-activity-content Test test test
				.recent-activity-panel.header What dataset does your organization need most ?
				.recent-activity-panel.header When will conCensus make the new ACS layers avail ...
				.recent-activity-panel.header Does anyone track lead abatement in Detroit anym...