%html{html_attrs}
  %head
    %meta{:'http-equiv' => "Content-Type", content: "text/html; charset=utf-8"}
    %meta{name: "lang", content: "en"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
    %title conCensus
    %script(src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js")
    %script(src="//api.tiles.mapbox.com/mapbox.js/plugins/leaflet-omnivore/v0.0.0/leaflet-omnivore.min.js")
    %script(src="http://code.jquery.com/jquery-1.10.2.min.js")
    %script{src: "/javascripts/uri.js"}
    %link{href: "/stylesheets/popup.css", media: "screen", rel: "stylesheet", type: "text/css"}
    %link{href: "/stylesheets/circle_popup.css", media: "screen", rel: "stylesheet", type: "text/css"}
    %link{href: "/stylesheets/square_popup.css", media: "screen", rel: "stylesheet", type: "text/css"}
    %script{src: "/javascripts/jquery-1.11.1.js"}
    %script{src: "/javascripts/jquery-ui-1.10.4.custom.js"}
    %script{src: "/javascripts/accordion.js"}
    %link{href: "/stylesheets/accordion.css", media: "screen", rel: "stylesheet", type: "text/css"}
    %link(rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css")
    %link{href: "/stylesheets/application.css", media: "screen", rel: "stylesheet", type: "text/css"}
    %link(rel="stylesheet" href='https://api.tiles.mapbox.com/mapbox.js/v1.6.1/mapbox.css' rel='stylesheet')

    :css
        html,body {
          margin:0;
          padding:0;
          height:100%;
          }

        .row {
          height: 90%;
        }


  %body
    %header{class: "navbar navbar-static-top bs-docs-nav", role: "banner"}
      .container
        .navbar-header
          %button(class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse")
            %span{class: "sr-only"}Toggle navigation
            %span{class: "icon-bar"}
            %span{class: "icon-bar"}
            %span{class: "icon-bar"}
          %a{href: url('/'), class: "navbar-brand"}conCensus
        %nav{class: "collapse navbar-collapse bs-navbar-collapse", role: "navigation"}
          %ul{class: "nav navbar-nav"}
            %li<
              %a{href: url('/map')}Map
    .row
      #main
        #map
        #table_dialog
          %img{src:"images/conCensus_GlassesOnly.png", alt: "concensus logo"}
          %h5 Choose Display Options:
          %table
            %tr{class: "row1"}
              %th{class: "cornerTH"}
              %th View as 
              %th Date Type
              %th Indicator Name
            %tr{class: "row2"}
              %th
                .side_header D3 Data
              %td  
                .circle
              %td 
              %td Service Areas
            %tr{class: "row3"}
              %th
                .side_header User Data
              %td 
                .rectangle
              %td 
              %td Question 1=yes
        #circle_table
          %table
            %tr
              %td
                .pinkCircle
              %td
                .yellowCircle
              %td
                .darkBlueCircle
              %td
                .lightBlueCircle
              %td
                .lightGreenCircle
              %td
                .darkGreenCircle
        #square_table
          %table{id:"gradientTable"}
            %tr
              %td
                .gradient1
              %td
                .gradient2
              %td
                .gradient3
              %td
                .gradient4
              %td
                .gradient5
          %table{id:"squareTable"}
            %tr
              %td
                .pinkSquare
              %td
                .yellowSquare
              %td
                .darkBlueSquare
              %td
                .lightBlueSquare
              %td
                .lightGreenSquare
              %td
                .darkGreenSquare  
                  
      .col-md-2.legend
        .row
          .col-md-12
            %img{src: "images/conCensus_LogoOpenSansSmall.png", alt: "concensus logo"}
            %br
            %h4 D3 Data Library:
            %div{class:"accordion_d3"} 
              %h3 Geographies
              %div
                %form(role="form")
                  .form-group
                    .radio(data-file="census_track.geojson" data name="Census Tracts (2010)" data-property="NAMELSAD10")
                      %label
                        %input(type="radio" name="layer_data" id="tracts2010") Census Tracts (2010)
                    .radio(data-file="council_district.geojson" data-name="Council Districts" data-property="NAMELSAD10")
                      %label
                        %input(type="radio" name="layer_data" id="council_districts")Council Districts
                    .radio(data-file="zip_codes.geojson" data-name="Zip Codes" data-property="NAMELSAD10")
                      %label
                        %input(type="radio" name="layer_data" id="minority_family") Zip Codes
              %h3 Demographics
              %div
                %form(role="form")
                  .form-group
                    .radio(data-file="median_family.geojson" data-name="Median Family" data-property="NAMELSAD10")
                      %label
                        %input(type="radio" name="layer_data" id="median_family") Median Family
                    .radio(data-file="minority_family _Total_HH.geojson" data-name="minority_family_total_hh" data-property="NAMELSAD10")
                      %label
                        %input(type="radio" name="layer_data" id="minority_family_total_hh") Minority Family Total_HH
                    .radio(data-file="minority_family_Total_MinHH.geojson" data-name="minority_family_total_minHH" data-property="NAMELSAD10")
                      %label
                        %input(type="radio" name="layer_data" id="minority_family_total_minHH") Minority Family Total_MinHH
              %h3 Housing
              %div
                %form(role="form")
                  .form-group
                    .radio(data-file="Housing_Tenure_OccHH_FreeandClear.geojson" data-name="Housing_Free" data-property="NAMELSAD10")
                      %label
                        %input(type="radio" name="layer_data" id="housing_free") Housing Tenure - OccHH_FreeandClear
                    .radio(data-file="Housing_Tenure_RenterOccHH.geojson" data-name="Housing_Tenure" data-property="NAMELSAD10")
                      %label
                        %input(type="radio" name="layer_data" id="housing_tenure") Housing Tenure - RenterOccHH
              %h3 City System
              %div
                %form(role="form")
                  .form-group
                    .radio(data-file="parks_landmark.geojson" data-name="Parks Landmark" data-property="NAMELSAD10")
                      %label
                        %input(type="radio" name="layer_data" id="parks_landmarks") Parks Landmarks 
              %h3 Economy
              %div
                %form(role="form")
                  .form-group
                    .radio(data-file="grocery_stores.geojson" data-name="Grocery Stores" data-property="NAMELSAD10")    
                      %label
                        %input(type="radio" name="layer_data" id="grocery_store") Grocery Stores
                    .radio(data-file="employment_labor_Total_LaborForce.geojson" data-name="employment_labor_total" data-property="NAMELSAD10")    
                      %label
                        %input(type="radio" name="layer_data" id="employment_labor_total") Employment Rate Total Labor
                    .radio(data-file="employment_labor_Total_Unemployed.geojson" data-name="employment_labor_unemployment" data-property="NAMELSAD10")  
                      %label
                        %input(type="radio" name="layer_data" id="employment_labor_unemployment") Employment Rate Unemployment
            %br
            %h4 User Data Library:
            %div{class:"accordion_user"} 
              %h3 Focus:Hope
              %div
                %p
                  Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer ut neque. Vivamus nisi metus, molestie vel,
              %h3 Warren Connor CDC
              %div
                %p
                  Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer ut neque. Vivamus nisi metus, molestie vel,
              %h3 Grandmont Rosedale CDC
              %div
                %p
                  Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer ut neque. Vivamus nisi metus, molestie vel,
              %h3 Michigan Nonprofit Association
              %div
                %p
                  Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer ut neque. Vivamus nisi metus, molestie vel,

    #circle_table
      %table
        %tr
          %td
            .pinkCircle
          %td
            .yellowCircle
          %td
            .darkBlueCircle
          %td
            .lightBlueCircle
          %td
            .lightGreenCircle
          %td
            .darkGreenCircle
            
    #square_table
      %table
        %tr
          %td{id:"minimum"}
            minimum
          %td
          %td
          %td
          %td
          %td{id:"maximum"}
            maximum
        %tr
          %td
            .gradient1
          %td
            .gradient2
          %td
            .gradient3
          %td
            .gradient4
          %td
            .gradient5
          %td
        %tr
          %td
            .pinkSquare
          %td
            .yellowSquare
          %td
            .darkBlueSquare
          %td
            .lightBlueSquare
          %td
            .lightGreenSquare
          %td
            .darkGreenSquare  
    .pop-up
      .hints-panel
        %h4 How the community used this data
        .accordian-closed We just uploaded addtional crime data to our neigh
        .accordian-closed Important to remember the way crime data is coded
        .accordian-closed Crime data + vacancy data is eyeopening, but had a
        .accordian-closed We used street light data + crime data to talk with
    .map-footer
      .map-footer-column-main#hints
        %h4 Hints on using this data
      .map-footer-column-main#community
        %h4 How the community used this data
      .map-footer-column-tools#tools
        %h4
          %span(class="glyphicon glyphicon-arrow-down")
          %span(class="glyphicon glyphicon-chat")
          %span(class="glyphicon glyphicon-floppy-disk")
          %span(class="glyphicon glyphicon-bullhorn")

  %script{src: "javascripts/mapping.js"}