%html{html_attrs}
  %head
    %meta{:'http-equiv' => "Content-Type", content: "text/html; charset=utf-8"}
    %meta{name: "lang", content: "en"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
    %title conCensus
    %script(src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js")
    %script(src="//api.tiles.mapbox.com/mapbox.js/plugins/leaflet-omnivore/v0.0.0/leaflet-omnivore.min.js")
    %script(src="http://code.jquery.com/jquery-1.10.2.min.js")
    %script{src: "/javascripts/uri.js"}
    %link{href: "/stylesheets/popup.css", media: "screen", rel: "stylesheet", type: "text/css"}
    %link{href: "/stylesheets/point_popup.css", media: "screen", rel: "stylesheet", type: "text/css"}
    %link{href: "/stylesheets/square_popup.css", media: "screen", rel: "stylesheet", type: "text/css"}
    %link{href: "/stylesheets/line_popup.css", media: "screen", rel: "stylesheet", type: "text/css"}
    %script{src: "/javascripts/jquery-1.11.1.js"}
    %script{src: "/javascripts/jquery-ui-1.10.4.custom.js"}
    %script{src: "/javascripts/dataItems.js"}
    %script{src: "/javascripts/underscore.js"}
    %script{src: "/javascripts/accordion.js"}
    %script{src: "/javascripts/bootstrap.min.js"}
    %link{href: "/stylesheets/accordion.css", media: "screen", rel: "stylesheet", type: "text/css"}
    %link{href: "/stylesheets/footer.css", media: "screen", rel: "stylesheet", type: "text/css"}
    %link(rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css")
    %link{href: "/stylesheets/application.css", media: "screen", rel: "stylesheet", type: "text/css"}
    %link(rel="stylesheet" href='https://api.tiles.mapbox.com/mapbox.js/v1.6.1/mapbox.css' rel='stylesheet')
    :css
        html,body {
          margin:0;
          padding:0;
          height:100%;
          }

        .row {
          height: 90%;
        }

  %body
    %header{class: "navbar navbar-static-top bs-docs-nav", role: "banner"}
      #map_container
        .container
          .navbar-header
            %img{src:"images/D3_Logo.png", alt: "d3 logo", id:"logo"}
            %button(class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse")
              %span{class: "sr-only"}Toggle navigation
              %span{class: "icon-bar"}
              %span{class: "icon-bar"}
              %span{class: "icon-bar"}
            %a{href: url('/'), class: "navbar-brand"}conCensus
          %nav{class: "collapse navbar-collapse bs-navbar-collapse", role: "navigation"}
            %ul{class: "nav navbar-nav"}
              %li
                %a{href: url('/map')}Map
    .row
      #main
        #map
        #table_dialog
          %img{src:"images/conCensus_GlassesOnly.png", alt: "concensus logo"}
          #legend_intro
            Select datasets on the right to populate the legend

                  
      .col-md-2.legend
        .row
          .col-md-12
            %img{src: "images/conCensus_LogoOpenSansSmall.png", alt: "concensus logo"}
            %br
            %h4 D3 Data Library:
            %div{class:"accordion_d3"} 
              %h3 Geographies
              %div
                %form(role="form")
                  .form-group
                    .radio(data-file="census_track.geojson" data name="Census Tracts (2010)" data-property="NAMELSAD10")
                      %label
                        %input(type="checkbox" name="layer_data" id="tracts2010") Census Tracts 
                    .radio(data-file="council_district.geojson" data-name="Council Districts" data-property="NAMELSAD10")
                      %label
                        %input(type="checkbox" name="layer_data" id="council_districts")Detroit Council Districts
                    .radio(data-file="zipcodes.geojson" data-name="Zip Codes" data-property="NAMELSAD10")
                      %label
                        %input(type="checkbox" name="layer_data" id="minority_family") Zip Codes
              %h3 Demographics
              %div
                %form(role="form")
                  .form-group
                    .radio(data-file="median_family.geojson" data-name="Median Family" data-property="NAMELSAD10")
                      %label
                        %input(type="checkbox" name="layer_data" id="median_family") Median Household Income (Adjusted 2011 Dollars)
                    .radio(data-file="minority_family_Total_HH.geojson" data-name="minority_family_total_hh" data-property="NAMELSAD10")
                      %label
                        %input(type="checkbox" name="layer_data" id="minority_family_total_hh") Total Number of Households
                    .radio(data-file="minority_family_Total_MinHH.geojson" data-name="minority_family_total_minHH" data-property="NAMELSAD10")
                      %label
                        %input(type="checkbox" name="layer_data" id="minority_family_total_minHH")Total Number of Minority Households
              %h3 Housing
              %div
                %form(role="form")
                  .form-group
                    .radio(data-file="Housing_Tenure_OccHH_FreeandClear.geojson" data-name="Housing_Free" data-property="NAMELSAD10")
                      %label
                        %input(type="checkbox" name="layer_data" id="housing_free") Housing Tenure, Number of Owner Occupied Households without a Mortgage, Free & Clear
                    .radio(data-file="Housing_Tenure_RenterOccHH.geojson" data-name="Housing_Tenure" data-property="NAMELSAD10")
                      %label
                        %input(type="checkbox" name="layer_data" id="housing_tenure") Housing Tenure, Number of Renter Occupied Households
              %h3 City System
              %div
                %form(role="form")
                  .form-group
                    .radio(data-file="bus_routes.geojson" data-name="bus_routes" data-property="NAMELSAD10")    
                      %label
                        %input(type="checkbox" name="layer_data" id="bus_routes")Bus Routes, Detroit Department of Transportation
                    .radio(data-file="bus_stops.geojson" data-name="bus_stops" data-property="NAMELSAD10")    
                      %label
                        %input(type="checkbox" name="layer_data" id="bus_stops")Bus Stops, Detroit Department of Transportation
                    .radio(data-file="parks_landmark.geojson" data-name="Parks Landmark" data-property="NAMELSAD10")
                      %label
                        %input(type="checkbox" name="layer_data" id="parks_landmarks") Parks Landmarks 
              %h3 Economy
              %div
                %form(role="form")
                  .form-group
                    .radio(data-file="grocery_stores.geojson" data-name="Grocery Stores" data-property="NAMELSAD10")    
                      %label
                        %input(type="checkbox" name="layer_data" id="grocery_store") Grocery Stores
                    .radio(data-file="employment_labor_Total_LaborForce.geojson" data-name="employment_labor_total" data-property="NAMELSAD10")    
                      %label
                        %input(type="checkbox" name="layer_data" id="employment_labor_total") Labor Force Participation, Number of People 16
                    .radio(data-file="employment_labor_Total_Unemployed.geojson" data-name="employment_labor_unemployment" data-property="NAMELSAD10")  
                      %label
                        %input(type="checkbox" name="layer_data" id="employment_labor_unemployment") nemployed, Number of People in Labor Force 16+
            %br
            %h4 User Data Library:
            %div{class:"accordion_user"} 
              %h3 Detroit Historic Resource Survey
              %div
                %form(role="form")
                  .form-group
                    .radio(data-file="detroit_historic.geojson" data-name="Detroit Historic" data-property="NAMELSAD10")    
                      %label
                        %input(type="checkbox" name="layer_data" id="detroit_historic") Detroit Historic
              %h3 Hope Village Initiative Survey
              %div
              %h3 Lower Eastside Action Plan Survey
              %div
                %form(role="form")
                  .form-group
                    .radio(data-file="LEAP_Type_NA.geojson" data-name="LEAP NA" data-property="NAMELSAD10")    
                      %label
                        %input(type="checkbox" name="layer_data" id="leap_na") LEAP NA
                    .radio(data-file="LEAP_Typo_GV.geojson" data-name="leap_GV" data-property="NAMELSAD10")    
                      %label
                        %input(type="checkbox" name="layer_data" id="leap_GV") LEAP GV
                    .radio(data-file="LEAP_typo_Ind.geojson" data-name="leap_Ind" data-property="NAMELSAD10")    
                      %label
                        %input(type="checkbox" name="layer_data" id="leap_Ind") LEAP IND
                    .radio(data-file="LEAP_Typo_Ins.geojson" data-name="leap_Ins" data-property="NAMELSAD10")    
                      %label
                        %input(type="checkbox" name="layer_data" id="leap_Ins") LEAP INS
                    .radio(data-file="LEAP_Typo_NAUM.geojson" data-name="leap_NAUM" data-property="NAMELSAD10")    
                      %label
                        %input(type="checkbox" name="layer_data" id="leap_NAUM") LEAP NAUM
                 
    .pop-up
    .map-footer

      .map-footer-column-main#hints
        %h4 Hints on using this data
      .map-footer-column-main#community
        %h4 How the community used this data
      .map-footer-column-tools#tools
        %h4
          %span(class="glyphicon glyphicon-arrow-down")
          %span(class="glyphicon glyphicon-chat")
          %span(class="glyphicon glyphicon-floppy-disk")
          %span(class="glyphicon glyphicon-bullhorn")

  %script{src: "javascripts/colorGradients.js"}
  %script{src: "javascripts/mapping.js"}