.row
	.col-md-9
		#map
	.col-md-2.legend
		.row
			.col-md-12
				.base-layer-select-box Base Layers
				.point-layer-select-box Point Layers
.row
	.col-md-4 Hints on using this data
	.col-md-5	How the community used this data
	.col-md-3	tools


%script{type: "text/javascript", src: "/javascripts/application.js"}