.row
	.col-md-8
		#map
	.col-md-4#legend
		.row
			.col-md-11
				#base-layers
				Base Layers
				#point-layers
				Point Layers
.row
	.col-md-4 Hints on using this data
	.col-md-4	How the community used this data
	.col-md-4	tools


%script{type: "text/javascript", src: "/javascripts/application.js"}