
#main
{
  position: relative;
}
#table_dialog
{
  background-color:#ffffff;
  width:150px;
  height:70px;
  position: absolute;
  top: 50px;
  left:100px;
  border:1px solid #707070;
}
#legend_intro{
margin-top: 20px;
margin-left: 10px;
margin-right: 10px;
font-size: x-small;
}

#table_dialog h5
{
  background-color:#ffffff;
  margin-left: 40px;
  margin-top: 20px;
  
}

#table_dialog img{
 width:60px;
 height:30px;
 position: absolute;
top: -10;
}

#legendTable
{
  width:50px;
}

table#legendTable
{
  background-color:#ffffff;
  border-left: 1px solid #707070;
  border-top: 1px solid #707070;
  border-bottom: 1px solid #707070;
  border-right: 1px solid #707070;
  margin-right: 0;
  margin-bottom: 0;
  position: absolute;
  top:40px;
  margin-left: 5px;
  width:50px;
}

.row1
{
  position: relative;
}
    tr.row1
    {
      height:10px;
    }

    tr.legend_row{
      
      border:1px solid #707070;
      white-space:nowrap;
      font-size:x-small;
    }

    .legend_row th{
      height: 60px;
      font-size:x-small;
      background-color:#E3E3E3;
    }
    .legend_row td{
      height: 60px;
      font-size:x-small;
      background-color:#ffffff;
      word-wrap:break-word;
    }



    .row1 th
    {
      font-size: x-small;
      padding:3px;
      text-align: center;
      background-color:#E3E3E3;
      border:1px solid #707070;
      height:10px;
    }

    .side_header
    {
      -moz-transform: rotate(270deg);
      -moz-transform-origin: 50% 50%;
      -webkit-transform: rotate(270deg);
      -webkit-transform-origin: 50% 50%;
      -o-transform: rotate(270deg);
      -o-transform-origin: 50% 50%;
      transform: rotate(270deg);
      transform-origin: 50% 50%;
      font-size: small;
      text-align: right;
      padding: 0;
      margin: 0;
    }

 .point {
  width: 20px;
  height: 20px;
  background: #6596CF;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  margin-left: 10px;

}

.shape {
	width: 20px;
	height: 20px;
	background: #6596CF;
  margin-left: 10px;
}

.line
{
  width: 8px;
  height: 30px;
  background: #6596CF;
  margin-left: 10px; 
}
