
#main
{
  position: relative;
}
#table_dialog
{
  background-color:#ffffff;
  width:270px;
  height:300px;
  display: none;
  position: absolute;
  top: 50px;
  left:100px;
  border:1px solid #707070;
}

#table_dialog h5
{
  background-color:#ffffff;
  margin-left: 40px;
  margin-top: 20px;
  p
}

#table_dialog img{
 width:80px;
 height:40px;
 position: absolute;
top: -20;
}


#table_dialog table
{
  width:230px;
  height: 255px;
  background-color:#ffffff;
  border-left: 1px solid #707070;
  border-top: 1px solid #707070;
  margin-right: 0;
  margin-bottom: 0;
  position: absolute;
  bottom: 0;
  right: 0;


}
    .middleTD
    {
        background-color:#ffffff;
    }

    .top_header
    {
      font-size: small;
      padding: 0;
      margin: 0;
    }

    .row1
    {
      height:5%;
    }

    .row1 th
    {
      font-size: x-small;
      padding:3px;
      text-align: center;
      background-color:#E3E3E3;
      border:1px solid #707070;
    }

    .row2 th
    {

      background-color:#E3E3E3;
      border:1px solid #707070;
      white-space:nowrap;
      font-size:x-small;
    }

    .row3 th
    {
      background-color:#E3E3E3;
      border:1px solid #707070;
      width:1em;
      white-space:nowrap;
      font-size:x-small;
    }

    .side_header
    {
      -moz-transform: rotate(270deg);
      -moz-transform-origin: 50% 50%;
      -webkit-transform: rotate(270deg);
      -webkit-transform-origin: 50% 50%;
      -o-transform: rotate(270deg);
      -o-transform-origin: 50% 50%;
      transform: rotate(270deg);
      transform-origin: 50% 50%;
      font-size: small;
      width:2em;
      text-align: right;
      padding: 0;
      margin: 0;
    }

 .circle {
  width: 20px;
  height: 20px;
  background: #f6a91c;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  margin-left: 10px;

}

.rectangle {
	width: 20px;
	height: 20px;
	background: blue;
  margin-left: 10px;
}
