#square_table
{
   background-color:#ffffff; 
   display: none;
   position: absolute;
  width: 150px;
  height: 100px;
  top: 240px;
  left:380px;
  border:1px solid #707070;
}

#circle_table table
{
 margin-top: 12px;
 margin-left: 10px;
width: 90%;
  height: 50%;
}

table#gradientTable
{
	margin-top: 40px;
	margin-left: 20px;
}

table#squareTable
{
	margin-top: 10px;
	margin-left: 10px;

}

table#squareTable td
{
	
	margin-left: 3px;
	
}


.pinkSquare {
  width: 20px;
  height: 20px;
  background-color:#da5027;
}
.yellowSquare {
  width: 20px;
  height: 20px;
  background:#f6a91c;
}
.darkBlueSquare {
  width: 20px;
  height: 20px;
  background:#216a8b;
}
.lightBlueSquare {
  width: 20px;
  height: 20px;
  background: #6596cf;
}
.lightGreenSquare{
  width: 20px;
  height: 20px;
  background: #87af3e;
}
.darkGreenSquare{
  width: 20px;
  height: 20px;
  background: #20592c;
}

.gradient1 {
  width: 20px;
  height: 20px;
  background-color:#F9E6E0;
}
.gradient2 {
  width: 20px;
  height: 20px;
  background:#F5D3C9;
}
.gradient3 {
  width: 20px;
  height: 20px;
  background:#ECA793;
}
.gradient4 {
  width: 20px;
  height: 20px;
  background: #E37B5D;
}
.gradient5 {
  width: 20px;
  height: 20px;
  background:#DA5027;
}


