



.shape_popup 
{
  background-color:#ffffff;
}

.shape_popup td
{
  height: 30px;
}


table#gradientTable
{
	margin-top: 10px;
	margin-left: 5px;
}

table#gradientTable td
{
  margin-left: 5px;
}

/*table#squareTable
{
	margin-top: 10px;
	margin-left: 10px;

}*/

table#squareTable td
{
	
	margin-left: 3px;
	
}


.pinkSquare {
  width: 20px;
  height: 20px;
  margin-right: 2px;
  background-color:#da5027;
}
.yellowSquare {
  width: 20px;
  height: 20px;
  margin-right: 2px;
  background:#f6a91c;
}
.darkBlueSquare {
  width: 20px;
  height: 20px;
  margin-right: 2px;
  background:#216a8b;
}
.lightBlueSquare {
  width: 20px;
  height: 20px;
  margin-right: 2px;
  background: #6596cf;
}
.lightGreenSquare{
  width: 20px;
  height: 20px;
  margin-right: 2px;
  background: #87af3e;
}
.darkGreenSquare{
  width: 20px;
  height: 20px;
  margin-right: 0px;
  background: #20592c;
}

.gradient1 {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  background-color:#EBF1F9;
}
.gradient2 {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  background:#D3E1F1;
}
.gradient3 {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  background:#B2CAE7;
}
.gradient4 {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  background: #8BB0DB;
}
.gradient5 {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  background:#6596CF;
}


