@mixin make-portal-column($columns, $gutter: $grid-gutter-width) {
  position: relative;
  min-height: 1px;
  padding-left:  ($gutter / 2);
  padding-right: ($gutter / 2);

  @media (min-width: $screen-md-min) {
    float: left;
    width: percentage(($columns / 5));
  }
}

@mixin make-footer-column($columns, $padding-left) {
  position: relative;
  min-height: 1px;
  padding-left:  $padding-left;

  @media (min-width: $screen-md-min) {
    float: left;
    width: percentage(($columns / 5));
  }
}