// customize bootstrap variables here:
@import "variables";
@import "bootstrap";

#masthead {
	background-color: #BF6FA0;

	h1 {
		color: #7F0030;
		font-size: 32px;
	}
}


#map {
	margin-top: -20px;
	width: 100%;
	height: 500px;
}

