// customize bootstrap variables here:
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import "variables";
@import "bootstrap";
@import "overrides";


body {
	font-family: 'Open Sans', sans-serif;
}


/********
 *
 * Index
 *
 ********/

#masthead {
	background-color: $pink-lightest;
	margin-top: -20px;

	h1 {
		color: $concensus-red;
		font-size: 84px;
	}

	#banner {
		padding: 40px 0;
	}

	#portals {
		@include make-row($gutter: $grid-gutter-width);
	}

	#placeholder {
		@include make-portal-column(1, $gutter: $grid-gutter-width);
	}
	#portal-img {
		@include make-portal-column(1, $gutter: $grid-gutter-width);
	}

	p {
		display: inline;
		float: right;
		color: $concensus-blue;
		font-size: 24px;
	}
}

#recent-activity {
	padding-top: 50px;

	h1 {
		color: $concensus-gray;
	}
}

.recent-activity-panel {}



/********
 *
 * Map page
 *
 ********/

#map-container {
  height:100%;
  width: 75%;
}

#map {
	margin-top: -20px;
	width: 79%;
	height: 90%;
	float: left;
}

.legend {
	margin-top: -20px;
	float: left;
	width: 15%;
}

// Overriding panel styling

.base-layer-select-box {
  $panel-baselayer-heading-bg: lighten($concensus-blue, 20%);
  $panel-baselayer-border: lighten($concensus-blue, 20%);

  @include panel-variant($panel-default-border, $panel-default-text, $panel-baselayer-heading-bg, $panel-baselayer-border)
}

.point-layer-select-box {
  $panel-pointlayer-heading-bg: lighten($concensus-pink, 20%);
  $panel-pointlayer-border: lighten($concensus-pink, 20%);

  @include panel-variant($panel-default-border, $panel-default-text, $panel-pointlayer-heading-bg, $panel-pointlayer-border)

}

.map-footer {
  position: absolute;
  bottom: 0;
  height: 10%;
  width: 100%;

  margin-top: 0;
  padding: 0;

  border-top: 1px solid $concensus-gray;

  p {
  	display: inline;
  	float: left;
  	margin: $padding-large-vertical auto !important;
  }
}

.map-footer-column-main {
	border-left: 1px solid $concensus-gray;
	border-right: 1px solid $concensus-gray;
	height: 100%;
	padding-top: $padding-large-vertical;

	@include make-footer-column(2)
}

.map-footer-column-tools {
	height: 100%;
	padding-top: $padding-large-vertical;
	@include make-footer-column(1)
}