// customize bootstrap variables here:
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import "variables";
@import "bootstrap";
@import "mixins";


body {
	font-family: 'Open Sans', sans-serif;
	font-color: $gray-darker;
}

h4 {
	color: $gray-darker;
	font-size: ceil(($font-size-base * 1.25));
}

h6 a {
	color: $gray-darker;
	font-weight: bold;
	font-size: ceil($font-size-base * 0.85)
}

.hints-panel {
	@include make-footer-column(4, 0)
}

.accordian-closed {
	background-color: $blue-lightest;
	padding: $padding-base-horizontal $padding-base-vertical;

}

/********
 *
 * Index
 *
 ********/

#masthead {
	h1 {
		color: $concensus-red;
		font-size: 84px;
	}
}

#portals {
	padding: 40px 0;
	background-color: $green_front;

	.row {
		@include make-row($gutter: $grid-gutter-width);
	}

	#placeholder {
		@include make-portal-column(1, $gutter: $grid-gutter-width);
	}
	#portal-img {
		@include make-portal-column(1, $gutter: $grid-gutter-width);
	}

	p {
		display: inline;
		float: right;
		color: $concensus-blue;
		font-size: 24px;
	}
}

#visualize {
	width: 169px;
	height: 169px;

	display: block;
	background: transparent url('/images/conCensus_Visualize2.png') center top no-repeat;

	&:hover {
		background-image: url('/images/MapData1.png');
	}
}

#search {
	width: 169px;
	height: 169px;

	display: block;
	background: transparent url('/images/conCensus_SearchData.png') center top no-repeat;

	&:hover {
		background-image: url('/images/SearchData1.png');
	}
}

#share {
	width: 169px;
	height: 169px;

	display: block;
	background: transparent url('/images/conCensus_ShareData.png') center top no-repeat;

	&:hover {
		background-image: url('/images/ShareData1.png');
	}
}

#talk {
	width: 169px;
	height: 169px;

	display: block;
	background: transparent url('/images/conCensus_TalkData.png') center top no-repeat;

	&:hover {
		background-image: url('/images/TalkData1.png');
	}
}

#recent-activity {
	padding-top: 50px;

	h1 {
		color: $gray;
	}

	.recent-activity-header {
		height: 20px;
		width: auto;
		background-color: $gray-lighter;
		margin-bottom: 10px;

	}

	.recent-activity-content {
		background-color: $gray-lighter;
		color: $gray-darker;
		display: none;
	}
}



/********
 *
 * Map page
 *
 ********/

#map-container {
  height:100%;
  width: 75%;
}

#map {
	margin-top: -20px;
	width: 79%;
	height: 90%;
	float: left;
}

.legend {
	margin-top: -20px;
	float: left;
	width: 15%;
}

.base-layer-select-box {
  @include make-sidebar-panel($blue-lightest)
}

.point-layer-select-box {
  @include make-sidebar-panel($pink-lightest)
}

.map-footer {
  position: absolute;
  bottom: 0;
  height: 10%;
  width: 100%;

  margin-top: 0;
  padding: 0;

  border-top: 1px solid $gray;

  // Text should align center vertically and horizontally - maybe use gutter like Bootstrap does?

  h4 {
  	display: inline;
  }
}

.map-footer-column-main {
	border-left: 1px solid $gray;
	border-right: 1px solid $gray;
	height: 100%;
	padding-top: 20px;

	@include make-footer-column(2, $padding-large-horizontal);
}

.map-footer-column-tools {
	height: 100%;
	padding-top: 20px;
	@include make-footer-column(1, $padding-large-horizontal);
}